<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>CLiiMA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Previsão do Tempo</ion-card-subtitle>
      <ion-card-title><span class="city">Lençóis Paulista </span>
      <span><ion-icon name="sunny-outline" class="ion-padding-start"></ion-icon>
        25 °C</span>
      </ion-card-title>
      <div class="barra"></div>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="ion-text-wrap">
            05/08/22
          </ion-label>
          <ion-label class="ion-text-wrap">
            15 / 31 °C
          </ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="partly-sunny-outline"></ion-icon>
            <p> Parcialmente Nublado</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            06/08/22
          </ion-label>
          <ion-label class="ion-text-wrap">
            16 / 29 °C
          </ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="partly-sunny-outline"></ion-icon>
            <p>Parcialmente Nublado</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            07/08/22
          </ion-label>
          <ion-label class="ion-text-wrap">
            29 / 17 °C
          </ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="cloud-outline"></ion-icon>
            <p>Nublado</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            08/08/22
          </ion-label>
          <ion-label class="ion-text-wrap">
            16 / 22 °C
          </ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="rainy-outline"></ion-icon>
            <p>Pancadas de Chuva</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>